@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Mono:wght@300;400&display=swap');

:root {
  --background: #C2C3C3;
  --black: #000000;
  --maincolor: #FFFFFF;
  --contrastcolor: #000000;
  --colorone: #0E689B;
  --colortwo: #1397E2;
}

[data-theme="dark"] {
  --background: #2C2D2D;
  --black: #000000;
  --maincolor: #000000;
  --contrastcolor: #FFFFFF;
  --colorone: #1397E2;
  --colortwo: #0E689B;
}

* {
  margin: 0;
  padding: 0;
}

.App{
  background-color: var(--background);
  color: var(--contrastcolor);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: none;
  border: none;
}

a {
  color: var(--colorone);
}

a:hover {
  color: var(--colortwo);
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.icon {
  font-size: 25px;
  padding: 5px;
  color: var(--contrastcolor);
}

.icon:hover {
  color: var(--colorone);
}

.header-container {
  background-color: var(--maincolor);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.app-container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.side-container {
  width: 25%;
  background-color: var(--maincolor);
  border-radius: 10px;
  padding: 15px;
}

.main-container {
  width: 60%;
}

.search-container {
  display: flex;
  justify-content: center;
}

input {
  padding: 15px;
  margin: 5px;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--maincolor);
  color: var(--contrastcolor);
  border: none;
  border-radius: 10px;
}

#search-input {
  width: 250px;
}

#search-submit:hover {
  background-color: var(--colorone);
}

.main-results-container {
  background-color: var(--maincolor);
  padding: 10px;
  border-radius: 10px;
  background: center;
  color: var(--black);
}

.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-left {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.main-content-right {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.forecast-results-container {
  display: flex;
  overflow-x: auto;
}

.forecast-results-container::-webkit-scrollbar {
  width: 20px;
}

.forecast-results-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.forecast-results-container::-webkit-scrollbar-thumb {
  background-color: var(--maincolor);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.forecast-container {
  background-color: var(--maincolor);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.forecast-icon {
  max-width: 65px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 5px;
}

.hourly-results-container {
  background-color: var(--maincolor);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.hourly-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourly-icon {
  max-width: 80px;
}

.hourly-left-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.hourly-right-container {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

hr {
  width: 75%;
  margin: auto;
  border-top: 3px solid var(--colorone);
  border-radius: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
  padding: 10px;
  
}